Initialise Project Root for imports

In [ ]:
import sys
from pathlib import Path

# Add the project root to Python path
project_root = str(Path.cwd().parent)
sys.path.append(project_root)

In [8]:

from utils import read_csv

df = read_csv("../assets/export-tickuserstate-20241230_161045.csv")

df

,sessionID,sessionStateID,userID,artistID,sessionStateStatus,sessionStateDateCreated,sessionStateDateUpdated,tickStateID,tickStateStatus,tickStateDateCreated,tickStateDateUpdated,tickID,tickType,tickHandler,tickStateResult
0,2,73184,NaN,NaN,2,2024-12-10 23:31,2024-12-10 23:33,648074,5,2024-12-10 23:33,2024-12-10 23:33,38,2,NaN,"{\n ""value"": ""0946582343""\n}"
1,2,73179,NaN,NaN,2,2024-12-10 22:54,2024-12-10 22:56,648047,5,2024-12-10 22:56,2024-12-10 22:56,72,1,NaN,"{\n ""result"": 1\n}"
2,2,73179,NaN,NaN,2,2024-12-10 22:54,2024-12-10 22:56,648045,5,2024-12-10 22:56,2024-12-10 22:56,42,2,NaN,"{\n ""value"": ""he\/him"",\n ""valueDetails""..."
3,2,73179,NaN,NaN,2,2024-12-10 22:54,2024-12-10 22:56,648043,5,2024-12-10 22:55,2024-12-10 22:55,40,4,NaN,"{\n ""spotify"": {\n ""external_urls"": ..."
4,2,73179,NaN,NaN,2,2024-12-10 22:54,2024-12-10 22:56,648042,5,2024-12-10 22:55,2024-12-10 22:55,39,2,NaN,"{\n ""value"": ""artist"",\n ""valueDetails"":..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,2,70443,NaN,NaN,2,2024-11-30 03:29,2024-11-30 03:35,620796,5,2024-11-30 03:35,2024-11-30 03:35,40,4,NaN,"{\n ""spotify"": {\n ""external_urls"": ..."
1165,2,70443,NaN,NaN,2,2024-11-30 03:29,2024-11-30 03:35,620795,5,2024-11-30 03:29,2024-11-30 03:29,39,2,NaN,"{\n ""value"": ""artist"",\n ""valueDetails"":..."
1166,2,70443,NaN,NaN,2,2024-11-30 03:29,2024-11-30 03:35,620794,5,2024-11-30 03:29,2024-11-30 03:29,38,2,NaN,"{\n ""value"": ""Aslan Shankara""\n}"
1167,2,70442,NaN,NaN,2,2024-11-30 01:55,2024-11-30 01:55,620793,5,2024-11-30 01:55,2024-11-30 01:55,39,2,NaN,"{\n ""value"": ""artist"",\n ""valueDetails"":..."
1168,2,70442,NaN,NaN,2,2024-11-30 01:55,2024-11-30 01:55,620792,5,2024-11-30 01:55,2024-11-30 01:55,38,2,NaN,"{\n ""value"": ""Marleymba23""\n}"

In [40]:
import pandas as pd

# Map of tickID to tickName
ticksMap={
  38: "What can I call you?",
  39: "What is your role?",
  40: "Search on spotify",
  42: "What are your pronouns",
  72:"Let's get started",
  59: "Authentication",
  70: "Create artist"
}

# Generate a collection of tickID to number of occurrences
tick_id_occurrences = df["tickID"].value_counts()
tick_df = pd.DataFrame(tick_id_occurrences).reset_index()
tick_df.columns = ["tickID", "count"]
tick_df["tickName"] = tick_df["tickID"].map(ticksMap)
tick_df["percentage"] = round((tick_df["count"] / tick_df["count"].iloc[0]) * 100, 2)
tick_df["tickName"] = tick_df["tickID"].map(ticksMap)
tick_df["dropOffRateCum"] = round((tick_df["count"].iloc[0] - tick_df["count"]) / tick_df["count"].iloc[0] * 100, 2)
# Subtract the current percentage from the previous percentage
tick_df["dropOffRateDiff"] = tick_df["percentage"].diff() * -1
# Calculate percentage drop off based on dropOffRateDiff/percentage of previous tick
tick_df["dropOffRateRelative"] = round((tick_df["dropOffRateDiff"] / tick_df["percentage"].shift(1)) * 100, 2)
tick_dfa

,tickID,count,tickName,percentage,dropOffRateCum,dropOffRateDiff,dropOffRateRelative
0,38,358,What can I call you?,100.00,0.00,NaN,NaN
1,39,315,What is your role?,87.99,12.01,12.01,12.01
2,40,177,Search on spotify,49.44,50.56,38.55,43.81
3,42,164,What are your pronouns,45.81,54.19,3.63,7.34
4,72,155,Let's get started,43.30,56.70,2.51,5.48